.btn__product {
    position: static;
    width: 100%;
    height: auto;
    background-color: #ebe5e5c2;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
}

.btn__product:hover {
    background-color: black;
    color: #ebe5e5c2;
}

.product__img {
    width: fit-content;
    margin: 0 auto;
    height: 200px;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s ;
}

.product__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
}
.product__img:hover{
   transform: translateY(-10px);
}